---
import '../styles/global.css';
import TodaysSpotprices from '../components/todays-spotprices.svelte';
import Header from '../components/header.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-4">
		<Header client:load>
			<h1 class="text-2xl font-bold">⚡ Spotprices</h1>
		</Header>
		<TodaysSpotprices client:load />
	</body>
</html>
